---
layout: default
---


    <div class="content">
      

<meta property="og:url"          content="/about/" />
<meta property="og:type"         content="article" />
<meta property="og:title"        content="About" />
<meta property="og:description"  content="" />
<meta property="og:image"        content="assets/img/pexels/circuit.jpeg" />


<article class="feature-image">

  <header id="main" style="background-image: url('/assets/img/comodity2020/vienna-d.jpg')">
    <h1 id="CoMoDiTy+2020" class="title">
        1st International Workshop on Conceptual Modeling for Digital Twins (CoMoDiTy 2020)
    </h1>
    <h3 class="subtitle">Co-located with the Conference on Conceptual Modeling (ER 2020)</h3>
    
    <h3 class="subtitle">November 3-6, 2020, Vienna, Austria</h3>
  </header>

  <section class="post-content">
  
  
<!-- MISSION -->
<h1 id="mission">Mission</h1>

<p>
  The workshop on Conceptual Modeling for Digital Twins (CoMoDiTy) aims at 
bringing together researchers and practitioners working on modeling concepts, 
methods, and tools for bringing the vision of digital twins to life. As such, 
it aspires to be a truly interdisciplinary meeting for researchers from 
conceptual modeling, model-driven software and systems engineering, and 
production engineering. 
</p>

<p>
As CoMoDiTy 2020 serves to have fruitful discussions between 
participants from conceptual modeling, model-driven software and systems 
engineering, and production engineering.  
As such, we devote half of the day for interactive sessions and discussions.
</p>
      
<p>
    In line with the <a href="https://er2020.big.tuwien.ac.at/">ER 2020</a>, *CoMoDiTy 2020 is going virtual* as well. 
</p>


<!-- TOPICS -->
<h1 id="topics-of-interest">Topics of Interest</h1>

<p>The topics of interested of CoMoDiTy 2020 include but are not limited to the following:</p>

<ul>
  <li>Conceptual modeling techniques for digital shadows and digital twins</li>
  <li>Theories for conceptual modeling of digital twins in the context of the observed cyber-physical systems</li>
  <li>Modeling methods and tools for developing digital shadows and digital twins</li>
  <li>Evolution and Life-Cycle Management with/for digital twins</li>
  <li>Case Studies of modeling digital twins</li>
  <li>Integrating 3D modeling and conceptual modeling</li>
  <li>Challenges in modeling digital twins</li>
  <li>Interaction of digital twin models and design time and at runtime</li>
  <li>Systematic derivation of digital twins</li>
  <li>Learning digital twins from observing system behavior</li>
  <li>Operating digital twins with humans in the loop</li>
  <li>Code generation and interpretation of executable digital twins</li>
  <li>Modeling distributed and scalable data for digital twins</li>
</ul>


<!-- PROGRAM -->
<h1 id="program">Program</h1>

      The preliminary outline of the workshop is as follows:
      
<ul>
    <li>Keynote</li>
    <li>Social Break</li>
    <li>Input Talks</li>
    <li>Project Pitches</li>
    <li>Discussion</li>
</ul>

<!-- KEYNOTE -->
<h1 id="invited-speakers">Invited Presentations</h1>

      <h2 id="keynote">Keynote</h2>
<p>
    <a href="https://www.bph.tuwien.ac.at/team/uebersicht/">Thomas Bednar</a>: <i>Towards a multistakeholder IT environment for developing, constructing and operating buildings and cities based on digital twins and shadows.
    Lessons learned from the project SIMULTAN and the follow-up "Virtuelle Flughafenstadt"</i>
</p>
<p>
    <a href="https://www.bph.tuwien.ac.at/team/uebersicht/">Thomas BEDNAR</a>, M.Sc. and Ph.D. from TU Wien, is a full professor for Building Physics at TU Wien - Vienna University of Technology. His main research focus are prediction models for hygrothermal and acoustic performance of buildings. He has written many papers related to energy use, moisture and building acoustics both on calculations and measurements and is now finishing projects on plus-plus energy high rise office buildings or safeguarding wooden beam ends after renovations of brick-buildings from 1900. Since leading the doctoral school URBEM at TU Wien focusing on the urban energy and mobility system he is head of the development of multistakeholder IT-enviroment SIMULTAN at TU Wien for developing and understanding the built environment. 
</p>

<h2 id="discussions">Input Talks</h2>
<ul>
    <li>
        <a href="https://www.se-rwth.de/staff/dalibor/">Manuela Dalibor</a> (RWTH Aachen University): Conceptual Models of Digital Twins and Digital Shadows
    </li>
    <li>
        <a href="https://people.unisa.edu.au/Georg.Grossmann">Georg Grossmann (University of South Australia)</a>: tba
    </li>
    <li>
        <a href="https://se.jku.at/alexandra-mazak-huemer/">Alexandra Mazak-Huemer</a> (JKU Linz): How can digital twin strategies make conventional tunnelling smart?
    </li> 
</ul>

<h1 id="important-dates">Important Dates</h1>

<ul>
    <li>Submission deadline: <del>27 July</del> 03 August 2020</li>
  <li>Author notification: 17 August 2020</li>
  <li>Camera-ready version: 07 Septemer 2020</li>
  <li>Camera-ready proceedings: 11 September 2020</li>
</ul>



<h1 id="paper-submission">Paper Submission</h1>

<p>
  We invite submissions of papers of up to 5 pages describing original and unpublished results on any of the workshop’s topics of interest, including position papers, experience papers, and challenge papers from both researchers and practitioners.
</p>

<p>
  The CoMoDiTy'20 proceedings will be part of the joint <a href="http://er2020.big.tuwien.ac.at/" target="_blank">ER 2020</a> workshop proceedings in the Lecture Notes in Computer Science (LNCS) of the Springer Verlag. 
  See <a href="http://www.springer.de/comp/lncs/authors.html" target="_blank">Springer's website on LNCS</a> for style files and details. 
  Springer also has provided a <a href="https://www.overleaf.com/latex/templates/springer-lecture-notes-in-computer-science/kzwwpvhwnvfj#.WuA4JS5uZpi">LaTeX template in Overleaf</a> for your convenience.  
</p>

<p>
  Papers must be submitted as PDF files using <a href="https://easychair.org/my/conference?conf=comodity2020" target="_blank">EasyChair</a>.
</p>
                    
<p>
  To ensure a high quality of presentations, all papers will be thoroughly peer-reviewed by the Program Committee.
  Papers not submitted in LNCS format or longer than 5 pages will not be reviewed and automatically rejected.
</p>

<p>
  A paper submitted to CoMoDiTy'20 may not be under review for any other workshop, conference or journal during the time it is being considered for CoMoDiTy'20. 
</p>

<p>
  Note that only accepted papers presented in the workshop by at least one author will be published.
</p>


<h1 id="program-committee">Program Committee</h1>
  
<ul>
    <li>Loli Burgueño (Open University of Catalonia &amp; CEA LIST)</li>
    <li>Jordi Cabot (ICREA - UOC (Internet interdisciplinary institute))</li>
    <li>Benoit Combemale (University of Toulouse &amp; Inria)</li>
    <li>Manuela Dalibor (RWTH Aachen University)</li>
    <li>Romina Eramo (University of L'Aquila)</li>
    <li>Alexandra Mazak-Huemer (Johannes Kepler Universität Linz)</li>
    <li>Bran Selic (Malina Software Corp.)</li>
    <li>Michael Weyrich (University of Stuttgart)</li>
    <li>Mark van den Brand (Eindhoven University of Technology)</li>
</ul>


<h1 id="organizers">Organizers</h1>

<ul>
    <li><a href="https://people.unisa.edu.au/Markus.Stumptner">Markus Stumptner</a> (University of South Australia)</li>
    <li><a href="https://www.se.jku.at/manuel-wimmer/">Manuel Wimmer</a> (JKU Linz)</li>
    <li><a href="http://www.se-rwth.de/~wortmann">Andreas Wortmann</a> (RWTH Aachen University)</li>
</ul>



<!--
<h1 id="website">Website</h1>

<p>This website uses the Type on Strap is based on Type Theme, a free and 
open-source theme for <a href="http://jekyllrb.com/">Jekyll</a>, licensed under the MIT 
License.</p>
-->
  
  </section>
    
    
  <!-- Tag list for portfolio -->
  
  
