---
layout: default
---


    <div class="content">
      

<meta property="og:url"          content="/about/" />
<meta property="og:type"         content="article" />
<meta property="og:title"        content="About" />
<meta property="og:description"  content="" />
<meta property="og:image"        content="assets/img/pexels/circuit.jpeg" />


<article class="feature-image">

  <header id="main" style="background-image: url('/assets/img/comodity2020/vienna-d.jpg')">
    <h1 id="CoMoDiTy+2020" class="title">
        1st Workshop of Conceptual Modeling for Digital Twins (CoMoDiTy 2020)
    </h1>
    <h3 class="subtitle">Co-located with the Conference on Conceptual Modeling (ER 2020)</h3>
    
    <h3 class="subtitle">November 3-6, 2020, Vienna, Austria</h3>
  </header>

  <section class="post-content">
  
  
  
<h1 id="mission">Mission</h1>

<p>The workshop on Conceptual Modeling for Digital Twins (CoMoDiTy) aims at 
bringing together researchers and practitioners working on modeling concepts, 
methods, and tools for bringing the vision of digital twins to life. As such, 
it aspires to be a truly interdisciplinary meeting for researchers from 
conceptual modeling, model-driven software and systems engineering, and 
production engineering. 
</p>

<p>
As CoMoDiTy 2020 serves to have fruitful discussions between 
participants from conceptual modeling, model-driven software and systems 
engineering, and production engineering.  
As such, we devote half of the day for interactive sessions and discussions.
</p>



<h1 id="topics-of-interest">Topics of Interest</h1>

<p>The topics of interested of CoMoDiTy 2020 include but are not limited to the following:</p>

<ul>
  <li>Conceptual modeling techniques for digital shadows and digital twins</li>
  <li>Theories for conceptual modeling of digital twins in the context of the observed cyber-physical systems</li>
  <li>Modeling methods and tools for developing digital shadows and digital twins</li>
  <li>Evolution and Life-Cycle Management with/for digital twins</li>
  <li>Case Studies of modeling digital twins</li>
  <li>Integrating 3D modeling and conceptual modeling</li>
  <li>Challenges in modeling digital twins</li>
  <li>Interaction of digital twin models and design time and at runtime</li>
  <li>Systematic derivation of digital twins</li>
  <li>Learning digital twins from observing system behavior</li>
  <li>Operating digital twins with humans in the loop</li>
  <li>Code generation and interpretation of executable digital twins</li>
  <li>Modeling distributed and scalable data for digital twins</li>
</ul>


<h1 id="program">Program</h1>

<p>tba</p>




<h1 id="invited-speakers">Invited Speakers</h1>

<p>tba</p>

<h1 id="important-dates">Important Dates</h1>

<ul>
  <li>Submission deadline: 27 July 2020</li>
  <li>Author notification: 17 August 2020</li>
  <li>Camera-ready version: 07 Septemer 2020</li>
  <li>Camera-ready proceedings: 11 September 2020</li>
</ul>


<h1 id="organizers">Organizers</h1>

<ul>
    <li><a href="https://people.unisa.edu.au/Markus.Stumptner">Markus Stumptner</a> (University of South Australia)</li>
    <li><a href="https://www.se.jku.at/manuel-wimmer/">Manuel Wimmer</a> (JKU Linz)</li>
    <li><a href="http://www.se-rwth.de/~wortmann">Andreas Wortmann</a> (RWTH Aachen University)</li>
</ul>



<!--
<h1 id="website">Website</h1>

<p>This website uses the Type on Strap is based on Type Theme, a free and 
open-source theme for <a href="http://jekyllrb.com/">Jekyll</a>, licensed under the MIT 
License.</p>
-->
  
  </section>
    
    
  <!-- Tag list for portfolio -->
  
  
